.container_home{
    background-image: url("../../assets/fondo1.jpg");
    min-height: 100vh;
    background-size: cover;   
    background-position: center center;    
 
}


#paginaprincipal{
    padding-left:4%;
    padding-right: 4%;
    
}

#color{
    color: rgb(0, 100, 162);
}

#margin{
    margin: 0;
    padding: 0;
}

#photo{
    height: 100%;
    width: 100%;
    border: 0;
    
}


#titulo{
    color: rgb(0, 100, 162);
    
}

.columnnas{
    display: flex;
    justify-content: right;
}

#inputidioma{
    width: 65px;
    
}


