.container_home{
    background-image: url('https://scontent.fbog4-2.fna.fbcdn.net/v/t39.30808-6/428639337_7082902635091650_3375559833125525987_n.jpg?stp=dst-jpg_p960x960&_nc_cat=102&ccb=1-7&_nc_sid=3635dc&_nc_ohc=K1eu3aTtsAgAX-MDzjl&_nc_ht=scontent.fbog4-2.fna&oh=00_AfCKoOnkFwSxkyzzGMkzmJFrJxgjCzzRRGOOh4HqwNrLYQ&oe=65D92096');
    min-height: 100vh;
    background-size: cover;   
    background-position: center center;    
}


#paginaprincipal{
    padding-left:4%;
    padding-right: 4%;
    
}

#color{
    color: dodgerblue;
}

#margin{
    margin: 0;
    padding: 0;
}

#photo{
    height: 100%;
    width: 100%;
    border: 0;
    
}


#titulo{
    color: dodgerblue;
    
}



